/*navbar*/
.nav {
  display: flex; /* or inline-flex */
  justify-content: space-between;
  padding-top: 0px;
  border-bottom: solid gray 0.01em;
  list-style: none;
 
  width: 100%;
  text-align: center;


}
/*navbar title and icon aligment*/
ul li span {
    display: block;
}

/*icons*/
.pic-size {
    height: 41px;
    width: 36px;
}

/*dropdown*/
/*right aligment does not work*/
#dropdown1 {
  right: 0px !important;
  width: auto !important;
  
  left: auto !important;
}

/*Game start*/
#gameStart{
	position: absolute;
    top: 25%;
    left: 25%;
}

#gameStart img, #gameStart button{
	margin-top: 2em
}

#gameContainer {
	position: relative; 
	height: 100vh;
	text-align: center
}

/*iPhone5*/
@media screen and (min-width: 320px) {
	  #gameStart{
	    left: 20%
	}
}

/*iPhone6*/
@media screen and (min-width: 375px) {
	  #gameStart{
	    left: 25%
	}
}

/*iPad*/
@media screen and (min-width: 768px) {
	  #gameStart{
	    left: 35%
	}
}

/*iPadpro*/
@media screen and (min-width: 1024px) {
	  #gameStart{
	    left: 40%
	}
}